*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    color: #474747;
    background-color: #F2F3F7;
    text-align: center;
    background-image: url("../images/icons/musical_notes 1.svg"), url("../images/icons/musical_notes 2.svg");
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}

#registerForm,
#loginForm {
    display: none;
}

#loginForm,
#registerForm {
    background-color: #F2F3F7;
    box-shadow: 6px 6px 16px #BECDE2, -6px -6px 16px #FFFFFF;
    border-radius: 40px;
    position: fixed;
    top: 10%;
    left: 20%;
    width: 914px;
    height: 604px;
    padding: 70px;
}

.formHeadline {
    font-size: 28px;
    line-height: 37px;
}

.formDescription {
    font-size: 18px;
    line-height: 18px;
    margin: 5px 0 55px 0;
}

input {
    background: #F2F3F7;
    box-shadow: inset 4px 4px 8px rgba(190, 205, 226, 0.5), inset -5px -5px 30px #FFFFFF;
    border-radius: 4px;
    width: 348px;
    height: 46px;
    border: none;
    margin-bottom: 35px;
    padding: 0 30px;
    font-size: 18px;
}

input:focus {
    outline: none;
}

::placeholder,
::-webkit-input-placeholder {
    margin-left: 30px;
    font-family: 'Roboto Slab', serif;
    color: rgba(71, 71, 71, 0.7);
    font-size: 18px;
    line-height: 20px;
}

button {
    margin-top: 20px;
    width: 280px;
    height: 46px;
    background: linear-gradient(90deg, #694BFF -0.19%, rgba(197, 35, 255, 0.4) 100.1%);
    box-shadow: 0 0 2px rgba(114, 138, 183, 0.7), 3px 1px 4px rgba(174, 174, 192, 0.25);
    border-radius: 12px;
    border: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

button:hover {
    transform: translateY(-7px);
}

button:focus {
    outline: none;
    transform: translateY(4px);
}

.hasAccountText {
    cursor: pointer;
    position: absolute;
    bottom: 60px;
    color: #694BFF;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    text-align: center;
    width: 84%;
    margin: 0 auto;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    width: 731px;
    margin: 0 auto;
}